@using System.Web
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to NextGear's Programming Challenge!</h1>
    <p>
        The purpose of this application is to assess your technical skills by finding ways to fix and improve any issues you may encounter.
    </p>
    <br/>
    <br/>
    <p>
        Click <a href="~/User/Login">here</a> to log in and get started.
    </p>
</div>
